@{
    ViewData["Title"] = "Home Page";
}
@model AttackDto
<div class="text-center">
    <h1 class="display-4" id="TitanName"> @ViewBag.TitanName</h1>
    <h2 id="TitanHealth"> @ViewBag.TitanHealth </h2>
    <h3 class="display-4" id="TitanElement"> @ViewBag.TitanElement</h3>
</div>


<div class="text-center levelZone">
    <span> 等級: <span id="Level">@ViewBag.Level</span></span>
    <br>
    <span> 經驗值: <span id="Exp">@ViewBag.Exp</span> / <span id="MaxExp">@ViewBag.MaxExp</span></span>
</div>
<div class="text-center attackZone">
    <span>攻擊力: <span id="AttackPoint">@ViewBag.AttackPoint</span></span>
    <span>魔力: <span id="MagicPoint">@ViewBag.MagicPoint</span></span>
    <button onclick="NormalAttack()">Normal Attack!</button>
    <button onclick="MagicAttack('fire')">Fire ball!</button>
    <button onclick="MagicAttack('water')">Water Splash!</button>
    <button onclick="MagicAttack('forest')">Forest Vine!</button>
</div>

<span id="log">
   
</span>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script >
// app.use(require("body-parser").json());
    const elements = {
        "forest": 1,
        "fire": 2,
        "water": 3,
    };
    
    function GetTitanStatus() {
         $.ajax({
            url:"/Home/GetTitanStatus/",
            method:"get",
            success: function(response){
                document.getElementById("TitanName").innerText = response.name;
                document.getElementById("TitanHealth").innerText = response.health;
                document.getElementById("TitanElement").innerText = response.element;                      
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
             }
         })
    }
    function GetHeroStatus() {
         $.ajax({
            url:"/Home/GetHeroStatus/",
            method:"get",
            success: function(response){
                document.getElementById("Level").innerText = response.level;
                document.getElementById("Exp").innerText = response.exp;
                document.getElementById("MaxExp").innerText = response.maxExp;                      
                document.getElementById("AttackPoint").innerText = response.attackPoint;                      
                document.getElementById("MagicPoint").innerText = response.magicPoint;  
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
             }
         })
    }
    function GetLog() {
         $.ajax({
            url:"/Home/GetLog/",
            method:"get",
            success: function(response){
                document.getElementById("log").innerHTML = '';
                for (let i = 0;i < response.length;i++){
                    document.getElementById("log").innerHTML += '<span>'+ response[i] + '</span><br>';              
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
             }
         })
    }
    function PostAttack(body){
         $.ajax({
            url:"/Home/Attack/",
            method:"post",
            data:body,
            success: function(response){
                GetTitanStatus();
                GetHeroStatus();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
             },
             complete: function (){
                GetLog();
             }
          })
        } 
        
    function NormalAttack() {
        let body = {
            "IsUseMagic": false,
        };

         PostAttack(body);
        }
        
    function MagicAttack(element){
         let body = {
                    "IsUseMagic": true,
                    "Element": elements[element]
                };
         
        PostAttack(body);
        }
</script>